# Telephone Directory CRUD Operation

In [6]:
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017/")
db = client['Telephone']
DT = db['Directory']

# Create*

In [7]:
fields = {"_id": 1, "Name":"Magesh","Tel No":11111111,"Place":"Chennai"}
DT.insert_one(fields)

In [8]:
fields = [{"_id": 2,"Name":"Tharun","Tel No":22222222,"Place":"Chennai"},
          {"_id": 3,"Name": "Giri", "Tel No": 33333333,"Place": "Chennai"},
          {"_id": 4,"Name": "Tharun", "Tel No": 44444444,"Place": "Arni"},
          {"_id": 5,"Name": "Vasuki", "Tel No": 55555555,"Place": "Gingee"},
          {"_id": 6,"Name": "Nancy","Tel No":66666666, "Place":"Nagapattinam"},
          {"_id": 7,"Name":"Rajakumari","Tel No":77777777,"Place":"Chennai"},
          {"_id": 8,"Name":"Aradhana","Tel No":88888888,"Place":"Arni"}]
DT.insert_many(fields)

# Retrieve*

In [9]:
x = DT.find_one()
print(x)

{'_id': 1, 'Name': 'Magesh', 'Tel No': 11111111, 'Place': 'Chennai'}

In [10]:
for x in DT.find():
    print(x)

{'_id': 1, 'Name': 'Magesh', 'Tel No': 11111111, 'Place': 'Chennai'}
{'_id': 2, 'Name': 'Tharun', 'Tel No': 22222222, 'Place': 'Chennai'}
{'_id': 3, 'Name': 'Giri', 'Tel No': 33333333, 'Place': 'Chennai'}
{'_id': 4, 'Name': 'Tharun', 'Tel No': 44444444, 'Place': 'Arni'}
{'_id': 5, 'Name': 'Vasuki', 'Tel No': 55555555, 'Place': 'Gingee'}
{'_id': 6, 'Name': 'Nancy', 'Tel No': 66666666, 'Place': 'Nagapattinam'}
{'_id': 7, 'Name': 'Rajakumari', 'Tel No': 77777777, 'Place': 'Chennai'}
{'_id': 8, 'Name': 'Aradhana', 'Tel No': 88888888, 'Place': 'Arni'}

In [11]:
query = {"Name":"Giri"}
print(DT.find_one(query))

{'_id': 3, 'Name': 'Giri', 'Tel No': 33333333, 'Place': 'Chennai'}

# Update*

In [13]:
query = {"Tel No":11111111}
newvalues = {"$set":{"Tel No":12121212}}
DT.update_one(query, newvalues)

In [15]:
query = {"Place":"Chennai"}
newvalues = {"$set":{"Place":"Arni"}}
DT.update_many(query, newvalues)

In [16]:
for x in DT.find():
    print(x)

{'_id': 1, 'Name': 'Magesh', 'Tel No': 12121212, 'Place': 'Arni'}
{'_id': 2, 'Name': 'Tharun', 'Tel No': 22222222, 'Place': 'Arni'}
{'_id': 3, 'Name': 'Giri', 'Tel No': 33333333, 'Place': 'Arni'}
{'_id': 4, 'Name': 'Tharun', 'Tel No': 44444444, 'Place': 'Arni'}
{'_id': 5, 'Name': 'Vasuki', 'Tel No': 55555555, 'Place': 'Gingee'}
{'_id': 6, 'Name': 'Nancy', 'Tel No': 66666666, 'Place': 'Nagapattinam'}
{'_id': 7, 'Name': 'Rajakumari', 'Tel No': 77777777, 'Place': 'Arni'}
{'_id': 8, 'Name': 'Aradhana', 'Tel No': 88888888, 'Place': 'Arni'}

# Delete*

In [18]:
query = {"Name":"Nancy"}
DT.delete_one(query)

In [19]:
for x in DT.find():
    print(x)

{'_id': 1, 'Name': 'Magesh', 'Tel No': 12121212, 'Place': 'Arni'}
{'_id': 2, 'Name': 'Tharun', 'Tel No': 22222222, 'Place': 'Arni'}
{'_id': 3, 'Name': 'Giri', 'Tel No': 33333333, 'Place': 'Arni'}
{'_id': 4, 'Name': 'Tharun', 'Tel No': 44444444, 'Place': 'Arni'}
{'_id': 5, 'Name': 'Vasuki', 'Tel No': 55555555, 'Place': 'Gingee'}
{'_id': 7, 'Name': 'Rajakumari', 'Tel No': 77777777, 'Place': 'Arni'}
{'_id': 8, 'Name': 'Aradhana', 'Tel No': 88888888, 'Place': 'Arni'}